.search-bar-container {
  &.animate-width {
    // https://stackoverflow.com/questions/42005716/animated-search-form-expanding-to-the-left
    text-align: right;
  }
}

mat-form-field {
  width: 100%;
}

.search-form-field {
  &.animate-width {
    width: 65px;
    transition: width 550ms ease-out;
  }
}

::placeholder {
  font-style: italic;

  &.animate-width {
    opacity: 0;
    transition: opacity 600ms;
  }
}

mat-label {
  &.animate-width {
    opacity: 0;
    transition: opacity 650ms;
  }
}

.clear-button {
  &.animate-width {
    opacity: 0;
    transition: opacity 600ms;
  }
}

:host.has-focus {

  .search-form-field {
    width: 100%;
  }

  mat-label,
  ::placeholder,
  .clear-button {
    opacity: 1;
  }
}