/* You can add global styles to this file, and also import other style files */

// @import '@angular/material/prebuilt-themes/cyan-orange.css';
@import '@angular/material/prebuilt-themes/azure-blue.css';

:root {
  --paginator-height: 56px;
  --paginator-mat-form-field-height: 41px;
  --paginator-range-actions-height: 40px;

  --twt-header-row-height: 41px;
  --twt-header-row-background-color: #eeeeee;

  --twt-row-height: 36px;
  --twt-row-hover-odd-background: #d0d0d0;
  --twt-row-hover-even-background: #dddddd;
  --twt-row-zebra-odd-background: #eeeeee;
  --twt-row-zebra-even-background: var(--mat-app-background-color);

  --twt-action-column-sticky-left-border: #b4b5bb;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.gold {
  color: goldenrod !important;
}

.bold {
  font-weight: bold !important;
}

.mat-mdc-menu-item:focus {
  outline: 2px solid currentColor !important;
}