<mat-sidenav-container>
  <mat-sidenav #sidenav
    mode="over"
    position="end">
    <ng-container #sidenavContent></ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    @if (tableConfig) {
      <div [style.position]="'relative'">
        <div class="spinner-div"
          appGeneralSpinner
          [spinnerBusy]="loading"
          [spinnerColor]="'accent'"
          [style.background]="loading ? 'var(--spinner-background)' : 'none'"
          [style.z-index]="loadingTail ? 110 : -1">
        </div>
      
        <div class="table-filter-container">
          <!-- Table search bar -->
          @if (tableConfig.searchBarConfig) {
            <div class="table-search-bar">
              <app-search-bar #searchBar
                [disabled]="loading"
                [label]="tableConfig.searchBarConfig.label ?? ''"
                [placeholder]="tableConfig.searchBarConfig.placeholder ?? ''"
                (valueChange)="onFilterChange($event)">
              </app-search-bar>
            </div>
          }

          <app-span-filler></app-span-filler>

          <div class="table-buttons">
            @if (getSelectedRows().length) {
              <span>{{ getSelectedRows().length | number }} row{{ getSelectedRows().length > 1 ? 's' : '' }} selected</span>
            }
            @if (someSelected() || allSelected()) {
              <button mat-icon-button
                color="accent"
                [matTooltip]="multiRowActionMenuTooltip"
                [matMenuTriggerFor]="selectedRowMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #selectedRowMenu="matMenu">
                @for (action of tableConfig.selectedRowActions; track action) {
                  <button mat-menu-item
                    [attr.aria-label]="action.description"
                    [disabled]="action.disabled?.(getSelectedRows())"
                    (click)="$event.stopPropagation(); action.action(getSelectedRows())">
                    {{ action.label }}
                  </button>
                }
              </mat-menu>
            }
          </div>
          
          <!-- Table menu -->
          @if (tableConfig.autoRefresh) {
            <div class="auto-refresh-toggle">
              <mat-slide-toggle
                [checked]="tableConfig.autoRefresh.enabled"
                (change)="tableConfig.autoRefresh.onChange(!$event.checked)">
                Auto refreshing
              </mat-slide-toggle>
            </div>
          }
          @if ((tableConfig.tableActions?.length ?? 0) > 0) {
            <button mat-icon-button
              [color]="'accent'"
              [matMenuTriggerFor]="tableMenu">
              <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #tableMenu="matMenu">
              @for (action of tableConfig.tableActions; track action) {
                <button mat-menu-item
                  [attr.aria-label]="action.description"
                  [disabled]="action.disabled?.()"
                  (click)="$event.stopPropagation(); action.action()">
                  {{ action.label }}
                </button>
              }
            </mat-menu>
          }
        </div>

        <!-- Slot for anything to enhance table visuals like column filter and/or mat-chip quick filter options. -->
        <ng-content />
      
        <div class="table-container">
          <table mat-table
            [dataSource]="tableData"
            matSort
            [matSortActive]="tableConfig.sortOptions?.initialSort?.active ?? ''"
            [matSortDirection]="tableConfig.sortOptions?.initialSort?.direction ?? ''"
            (matSortChange)="onSortChange($event)">
      
            <!-- Column for multiple row checkbox selection. -->
            @if (tableConfig.multiRowSelection) {
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-checkbox
                    [checked]="allSelected()"
                    [indeterminate]="someSelected()"
                    (change)="toggleAllSelection($event.checked)">
                  </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                  <mat-checkbox
                    [checked]="isSelected(row)"
                    (change)="toggleRowSelection($event.checked, row)">
                  </mat-checkbox>
                </td>
              </ng-container>
            }
      
            <!-- Column for numbered rows. -->
            @if (tableConfig.showRowNumbers) {
              <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let row; let i = index"> {{ getRowNumber(i) }} </td>
              </ng-container>
            }
      
            <!-- Columns generated from table configuration. -->
            @for (column of tableConfig.columnsConfig.columns; track column.field) {
              <ng-container matColumnDef="{{ column.field }}">
                <th mat-header-cell *matHeaderCellDef
                  mat-sort-header
                  sortActionDescription="Sort by {{column.field}}"
                  [disabled]="!column.sortable"
                  [style.text-align]="column.align">
                  {{ column.header }}
                </th>
                <td mat-cell *matCellDef="let row"
                  [ngClass]="column.cellClass?.(row) ?? ''"
                  [style.text-align]="column.align ?? 'left'">
                  @switch (column.type) {
                    @case ('button') {
                      <ng-container *ngTemplateOutlet="buttonTemplate; context: {label: column.label, onClick: column.onClick, row: row}"></ng-container>
                    }
                    @case ('checkbox') {
                      <ng-container *ngTemplateOutlet="checkboxTemplate; context: {checked: column.checked, row: row}"></ng-container>
                    }
                    @case ('slideToggle') {
                      <ng-container *ngTemplateOutlet="slideToggleTemplate; context: {checked: column.checked, row: row}"></ng-container>
                    }
                    @default {
                      {{ column.valueGetter ? column.valueGetter(row) : (row | pathValue: column.field) }}
                    }
                  }
                </td>
              </ng-container>
            }
      
            <!-- Column for row actions. -->
            @if (tableConfig.rowActions) {
              <ng-container matColumnDef="actions" [stickyEnd]="tableConfig.rowActions.stickyActions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button
                    [color]="'accent'"
                    [matMenuTriggerFor]="actionMenu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #actionMenu="matMenu">
                    @for (action of tableConfig.rowActions.actions; track action) {
                      <button mat-menu-item
                        [attr.aria-label]="action.description"
                        [disabled]="action.disabled?.(row)"
                        (click)="$event.stopPropagation(); action.action(row)">
                        <span> {{ action.label }}</span>
                      </button>
                    }
                  </mat-menu>
                </td>
              </ng-container>
            }
      
            <!-- Headers -->
            <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: tableConfig.columnsConfig.stickyHeaders"></tr>

            <!-- Data rows -->
            <tr mat-row *matRowDef="let row; columns: displayColumns"
              [class.showActions]="tableConfig.rowActions"
              [ngClass]="tableConfig.rowClass?.(row) ?? ''"></tr>
            <tr *matNoDataRow>No data to display</tr>
          </table>
        </div>
      </div>
    }
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Defined Cell Templates -->
<!-- Button -->
<ng-template #buttonTemplate let-label="label" let-onClick="onClick" let-row="row">
  <button class="template-cell-button"
    mat-stroked-button
    color="accent"
    (click)="onClick(row)">
    {{ label(row) }}
  </button>
</ng-template>
<!-- Checkbox -->
<ng-template #checkboxTemplate let-checked="checked" let-row="row">
  <mat-checkbox
    [color]="'primary'"
    [checked]="checked(row)"
    disabled>
  </mat-checkbox>
</ng-template>
<!-- Slide toggle -->
<ng-template #slideToggleTemplate let-checked="checked" let-row="row">
  <mat-slide-toggle
    [color]="'primary'"
    [checked]="checked(row)"
    disabled>
  </mat-slide-toggle>
</ng-template>