.table-filter-container {
  padding: .625em 0;
  display: flex;
  align-items: center;

  .table-buttons {
    display: flex;
    align-items: center;
    gap: .25em;
  }

  .table-search-bar {
    width: 600px;
    min-width: 300px;
  }

  .auto-refresh-toggle {
    display: flex;
    justify-content: center;
    min-width: max-content;
    padding: 0 .5em;
  }

  .table-menu {
    width: 85px;
    min-width: 80.5px;
    display: flex;
    justify-content: center;
  }
}

.table-container {
  margin: 0 auto;
  overflow: auto;
}

table {
  width: 100%;

  th,
  td {
    white-space: nowrap;
  }

  tr {
    &.mat-mdc-no-data-row {
      white-space: nowrap;
    }
  }
}

.mat-mdc-header-row {
  height: 26px;
}

.mat-mdc-row {
  height: 36px;

  &.showActions {
    height: 52px;
  }
}

.mat-column-actions,
.mat-column-actions-filter {
  border-left: 1px solid #ccc;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mdc-button {
  &.template-cell-button {
    border-radius: 6px !important;
  }
}