<div class="outer-table-container">
  <div class="table-paginator-container">
    <app-custom-table
      [tableConfig]="tableConfig"
      [tableData]="paginatedData"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      (getDataForTable)="tableDataRequest($event)">
    </app-custom-table>
    
    <app-client-paginator
      [accessibleLabel]="accessibleLabel"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="showFirstLast"
      [totalData]="filteredData"
      (paginatedData)="updateData($event)">
    </app-client-paginator>
  </div>
</div>