<h2>Client side paged table</h2>
<div class="outer-table-container">
  <div class="table-paginator-container">
    <!-- Client paging setup -->
    <app-custom-table #clientTable
      [tableConfig]="tableConfig"
      [tableData]="paginatedData"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      (getData)="tableDataRequestClient()">
    </app-custom-table>
    
    <app-client-paginator
      [accessibleLabel]="accessibleLabel"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      [showFirstLastButtons]="showFirstLast"
      [totalData]="filteredData"
      (paginatedData)="updateDataClient($event)">
    </app-client-paginator>
  </div>
</div>

<mat-divider></mat-divider>

<h2>Server side paged table</h2>
<div class="outer-table-container">
  <div class="table-paginator-container">
    <!-- Server paging setup -->
    <app-custom-table #serverTable
      [loading]="loading"
      [tableConfig]="tableConfig"
      [tableData]="(serverData$ | async) ?? []"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      (getData)="tableDataRequestServer()">
    </app-custom-table>

    <app-server-paginator
      [accessibleLabel]="accessibleLabel"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      [disabled]="loading"
      [showFirstLastButtons]="showFirstLast"
      (fetchData)="updateDataServer()">
    </app-server-paginator>
  </div>
</div>