.outer-table-container {
  margin: .625rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;

  .table-paginator-container {

    .table-filter-container {
      padding: .625rem;
      border-bottom: 1px solid #ccc;
    }

    .table-container {
      margin: 0 auto;
      overflow: auto;
    }
  }
}

table {
  width: 100%;

  th,
  td {
    white-space: nowrap;
  }

  tr {
    &.mat-mdc-no-data-row {
      white-space: nowrap;
    }
  }

  .mat-mdc-form-field {
    margin: .5rem auto;
    min-width: 250px;
  }
}

.mat-mdc-header-row {
  &.non-filter-header {
    height: 26px;
  }
}

.mat-mdc-row {
  height: 36px;

  &.showActions {
    height: 52px;
  }
}

.mat-column-actions {
  border-left: 1px solid #ccc;
}