@if (tableConfig) {
  <div [style.position]="'relative'">
    <div class="spinner-div" appGeneralSpinner
      [spinnerBusy]="loading" [spinnerColor]="'accent'"
      [style.background]="loading ? 'var(--spinner-background)' : 'none'"
      [style.z-index]="loading ? 110 : -1"></div>
  
    @if (tableConfig.filterOptions) {
      <div class="table-filter-container">
        <!-- Table filter -->
        <div class="filter-search-box" [class.table-menu-showing]="(tableConfig.tableActions?.length ?? 0) > 0">
          <app-search-box #searchBox [id]="tableConfig.filterOptions.id ?? ''"
            [label]="tableConfig.filterOptions.label ?? ''"
            [placeholder]="tableConfig.filterOptions.placeholder ?? ''"
            [instantSearch]="tableConfig.filterOptions.instantSearch ?? false"
            (inputChange)="applyFilter($event)">
          </app-search-box>
        </div>
        <!-- Table menu -->
        @if ((tableConfig.tableActions?.length ?? 0) > 0) {
          <div class="table-menu">
            <button mat-icon-button [color]="'accent'" [matMenuTriggerFor]="tableMenu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #tableMenu="matMenu">
              @for (action of tableConfig.tableActions; track action) {
                <span [class.disabled-wrapper]="action.disabled?.(selectedRows)">
                  <button mat-menu-item [attr.aria-label]="action.description" [disabled]="action.disabled?.(selectedRows)" (click)="action.action(selectedRows)">
                    <span> {{ action.label }}</span>
                  </button>
                </span>
              }
            </mat-menu>
          </div>
        }
      </div>
    }
  
    <div class="table-container">
      <table mat-table [dataSource]="dataSource" matSort
        [matSortActive]="tableConfig.sortOptions?.initialSort?.active ?? ''"
        [matSortDirection]="tableConfig.sortOptions?.initialSort?.direction ?? ''"
        (matSortChange)="sortChange($event)">
  
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
  
        <!-- Column for multiple row checkbox selection. -->
        @if ((tableConfig.tableActions?.length ?? 0) > 0) {
          <ng-container matColumnDef="select">
            <th class="non-filter-header" mat-header-cell *matHeaderCellDef>
              <mat-checkbox [checked]="allSelected()" [indeterminate]="someSelected()" (change)="toggleAllSelection($event.checked)"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox [checked]="row.selected" (change)="selectRow($event.checked, row)"></mat-checkbox>
            </td>
          </ng-container>
  
          <!-- Filter column for numbered rows. -->
          @if (displayColumnsFilters.length > 0) {
            <ng-container matColumnDef="select-filter">
              <th mat-header-cell *matHeaderCellDef></th>
            </ng-container>
          }
        }
  
        <!-- Column for numbered rows. -->
        @if (tableConfig.showRowNumbers) {
          <ng-container matColumnDef="#">
            <th class="non-filter-header" mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let row; let i = index"> {{ getRowNumber(i) }} </td>
          </ng-container>
  
          <!-- Filter column for numbered rows. -->
          @if (displayColumnsFilters.length > 0) {
            <ng-container matColumnDef="#-filter">
              <th mat-header-cell *matHeaderCellDef></th>
            </ng-container>
          }
        }
  
        <!-- Columns generated from table configuration. -->
        @for (column of columnsConfig.columns; track column) {
          <ng-container matColumnDef="{{ column.field }}">
            <th class="non-filter-header" mat-header-cell *matHeaderCellDef mat-sort-header
              sortActionDescription="Sort by {{column.field}}" [disabled]="!column.sortable">
              {{ column.header }}
            </th>
            <td mat-cell *matCellDef="let row" [ngClass]="column.cellClass?.(row) ?? ''">
              @switch (column.cellTemplate) {
                @case ('button') {
                  <ng-container *ngTemplateOutlet="buttonTemplate; context: { $implicit: column.templateInputs?.(row) }"></ng-container>
                }
                @case ('checkbox') {
                  <ng-container *ngTemplateOutlet="checkboxTemplate; context: { $implicit: column.templateInputs?.(row) }"></ng-container>
                }
                @default {
                  {{ column.valueGetter?.(row) ?? row[column.field] }}
                }
              }
            </td>
          </ng-container>
        }
  
        @if (displayColumnsFilters.length > 0) {
          @for (column of columnsConfig.columns; track column; let i = $index) {
            <ng-container matColumnDef="{{ column.field }}-filter">
              <th mat-header-cell *matHeaderCellDef>
                @switch (column.filterOptions?.type) {
                  @case ('text') {
                    <ng-container *ngTemplateOutlet="textFilter; context: { $implicit: column, filters: columnFilters }"></ng-container>
                  }
                  @case ('select') {
                    <ng-container *ngTemplateOutlet="selectFilter; context: { $implicit: column, filters: columnFilters }"></ng-container>
                  }
                  @case ('singleDate') {
                    <ng-container *ngTemplateOutlet="singleDateFilter; context: { $implicit: column, filters: columnFilters }"></ng-container>
                  }
                  @case ('dateRange') {
                    <ng-container *ngTemplateOutlet="dateRangeFilter; context: { $implicit: column, filters: columnFilters }"></ng-container>
                  }
                }
              </th>
            </ng-container>
          }
        }
  
        <!-- Column for row actions. -->
        @if (tableConfig.rowActions) {
          <ng-container matColumnDef="actions" [stickyEnd]="tableConfig.rowActions.stickyActions">
            <th class="non-filter-header" mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button [color]="'accent'" [matMenuTriggerFor]="actionMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #actionMenu="matMenu">
                @for (action of tableConfig.rowActions.actions; track action) {
                  <span [class.disabled-wrapper]="action.disabled?.(row)">
                    <button mat-menu-item [attr.aria-label]="action.description" [disabled]="action.disabled?.(row)" (click)="action.action(row)">
                      <span> {{ action.label }}</span>
                    </button>
                  </span>
                }
              </mat-menu>
            </td>
          </ng-container>
  
          <!-- Filter column for row actions. -->
          @if (displayColumnsFilters.length > 0) {
            <ng-container matColumnDef="actions-filter" [stickyEnd]="tableConfig.rowActions.stickyActions">
              <th mat-header-cell *matHeaderCellDef></th>
            </ng-container>
          }
        }
  
        <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: columnsConfig.stickyHeaders"></tr>
        @if (displayColumnsFilters.length > 0) {
          <tr mat-header-row *matHeaderRowDef="displayColumnsFilters; sticky: columnsConfig.stickyHeaders"></tr>
        }
        <tr mat-row *matRowDef="let row; columns: displayColumns"
          [class.showActions]="tableConfig.rowActions"
          [ngClass]="tableConfig.rowClass?.(row) ?? ''"></tr>
        <tr *matNoDataRow>No data to display</tr>
      </table>
    </div>
  </div>
}

<!-- Defined Cell Templates -->
<!-- Button -->
<ng-template #buttonTemplate let-inputs>
  <button mat-stroked-button [color]="'accent'" (click)="inputs.clickFunc()">
    <span> {{ inputs.label }} </span>
  </button>
</ng-template>
<!-- Checkbox -->
<ng-template #checkboxTemplate let-inputs>
  <mat-checkbox [color]="'primary'" [checked]="inputs.checked" disabled></mat-checkbox>
</ng-template>

<!-- Defined Column Filter Templates -->
<!-- Text, maybe tweak SearchBox so it can be utilized here? -->
<ng-template #textFilter let-column let-filters="filters">
  <mat-form-field appearance="outline">
    <mat-label> {{ column.filterOptions.label ?? 'Filter by ' + column.header.toLowerCase() }} </mat-label>
    <input matInput type="text" [(ngModel)]="filters[column.field]" [placeholder]="column.filterOptions.placeholder ?? ''"
      (keyup)="applyFilters()"/>
    @if (filters[column.field]) {
      <button mat-icon-button matSuffix
        (click)="
          filters[column.field] = '';
          applyFilters()
        "
        [attr.aria-label]="'Clear {{column.header}} filter'">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
</ng-template>
<!-- Select -->
<ng-template #selectFilter let-column let-filters="filters">
  <mat-form-field appearance="outline">
    <mat-label> {{ column.filterOptions.label ?? 'Filter by ' + column.header.toLowerCase() }} </mat-label>
    <mat-select [(ngModel)]="filters[column.field]" (selectionChange)="applyFilters()" multiple>
      @for (option of column.filterOptions.selectValues?.(); track option) {
        <mat-option [value]="option"> {{ option }} </mat-option>
      }
    </mat-select>
  </mat-form-field>
</ng-template>
<!-- Date -->
<ng-template #singleDateFilter let-column let-filters="filters">
  <form [formGroup]="single">
    <mat-form-field class="date-column-filter" appearance="outline">
      <mat-label> {{ column.filterOptions.label ?? 'Filter by ' + column.header.toLowerCase() }} </mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" [placeholder]="column.filterOptions.placeholder ?? 'Select date'"
        (dateInput)="
          filters[column.field] = $event.value;
          applyFilters()
        "/>
  
      @if (filters[column.field]) {
        <button mat-icon-button matSuffix
          (click)="
            filters[column.field] = '';
            single.reset();
            applyFilters()
          "
          [attr.aria-label]="'Clear {{column.header}} filter'">
          <mat-icon>close</mat-icon>
        </button>
      }
  
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  
      @if (single.invalid) {
        <mat-error>Invalid date</mat-error>
      }
    </mat-form-field>
  </form>
</ng-template>
<!-- Date range -->
<ng-template #dateRangeFilter let-column let-filters="filters">
  <mat-form-field appearance="outline">
    <mat-label> {{ column.filterOptions.label ?? 'Filter by ' + column.header.toLowerCase() }} </mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date"
        (dateInput)="
          filters[column.field] = range.value;
          applyFilters()
        ">
      <input matEndDate formControlName="end" placeholder="End date"
        (dateInput)="
          filters[column.field] = range.value;
          applyFilters()
        ">
    </mat-date-range-input>

    @if (filters[column.field]) {
      <button mat-icon-button matSuffix
        (click)="
          filters[column.field] = '';
          range.reset();
          applyFilters()
        "
        [attr.aria-label]="'Clear {{column.header}} filter'">
        <mat-icon>close</mat-icon>
      </button>
    }

    <!-- <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint> -->
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  
    @if (range.controls.start.hasError('matStartDateInvalid')) {
      <mat-error>Invalid start date</mat-error>
    }
    @if (range.controls.end.hasError('matEndDateInvalid')) {
      <mat-error>Invalid end date</mat-error>
    }
  </mat-form-field>
</ng-template>