.table-filter-container {
  margin: .625rem 0;
  display: flex;
  align-items: center;

  .search-box {
    min-width: 300px;
  }

  .auto-refresh-toggle {
    display: flex;
    justify-content: center;
    min-width: max-content;
    padding: 0 .5em;
  }

  .table-menu {
    width: 85px;
    min-width: 80.5px;
    display: flex;
    justify-content: center;
  }
}

.table-container {
  margin: 0 auto;
  overflow: auto;
}

table {
  width: 100%;

  th,
  td {
    white-space: nowrap;
  }

  tr {
    &.mat-mdc-no-data-row {
      white-space: nowrap;
    }
  }

  .column-filter-container {
    margin-top: .625rem;
    min-width: 250px;

    &.date-column-filter {
      min-width: 280px;
    }

    &.mat-mdc-form-field-type-mat-date-range-input {
      min-width: 300px;
    }
  }
}

.mat-mdc-header-row {
  &.non-filter-header {
    height: 26px;
  }
}

.mat-mdc-row {
  height: 36px;

  &.showActions {
    height: 52px;
  }
}

.mat-column-actions,
.mat-column-actions-filter {
  border-left: 1px solid #ccc;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}