.outer-table-container {
  margin: .625rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;

  .table-paginator-container {
    position: relative;

    .table-filter-container {
      border-bottom: 1px solid #ccc;
      display: flex;
      align-items: center;

      .filter-search-box {
        width: 100%;

        &.table-menu-showing {
          border-right: 1px solid #ccc;
        }
      }

      .table-menu {
        width: 85px;
        min-width: 80.5px;
        display: flex;
        justify-content: center;
      }
    }

    .table-container {
      margin: 0 auto;
      overflow: auto;
    }
  }
}

.spinner-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

table {
  width: 100%;

  th,
  td {
    white-space: nowrap;
  }

  tr {
    &.mat-mdc-no-data-row {
      white-space: nowrap;
    }
  }

  .mat-mdc-form-field {
    margin-top: .625rem;
    min-width: 250px;

    &.date-column-filter {
      min-width: 280px;
    }

    &.mat-mdc-form-field-type-mat-date-range-input {
      min-width: 300px;
    }
  }
}

.mat-mdc-header-row {
  &.non-filter-header {
    height: 26px;
  }
}

.mat-mdc-row {
  height: 36px;

  &.showActions {
    height: 52px;
  }
}

.mat-column-actions,
.mat-column-actions-filter {
  border-left: 1px solid #ccc;
}